@import './bootstrap/bootstrap';
@import './components/sidenav';
@import './components/sticky-on-scroll-column';
@import './components/instagram-gallery';
@import './layout/header';
@import './utilities/index';
@import './pages/home';
@import './pages/part-2';

body {
  min-height: 75rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 14px;
  color: #353640;
}
