.sidenav {
  position: fixed;
  z-index: 2;
  background-color: rgba(53, 54, 64, 0.9);
  opacity: 0.27;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 50px;
  margin-top: 72px;
  width: auto;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  &:hover {
    max-width: 350px;
    opacity: 1;
  }
  .root-nav {
    .nav-link {
      white-space: nowrap;
      transition: all 0.25s ease-in-out;
      color: #ffffff;
      &.active, &.read {
        .diamond {
          border-color: $carolina-blue;
        }
        color: $carolina-blue;
      }
      &:not(.active):not(.read):hover {
        .diamond {
          border-color: $baby-blue;
        }
        color: $baby-blue;
      }
    }
    .diamond {
      flex-shrink: 0;
      padding: 0;
      height: 21px;
      width: 21px;
      border: 3px solid #ffffff;
      border-radius: 1px;
      color: #ffffff;
      text-decoration: none;
      transform: rotate(-45.5deg);
      transition: all .25s ease-in-out;
    }
  }
  .sub-nav {
    height: 240px;
    width: 3px;
    background-color: #ffffff;
    position: relative;
    margin-left: 23px;
    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 15px;
      left: 0;
      bottom: 100%;
      background-color: #85beff;
    }
    .dot {
      width: 11px;
      height: 11px;
      background-color: #ffffff;
      border-radius: 50%;
      transition: all 0.25s ease-in-out;
    }
    .nav-link {
      position: absolute;
      z-index: 1;
      left: -4px;
      padding: 0;
      &.active, &.read {
        .dot {
          background-color: $carolina-blue;
        }
        color: $carolina-blue;
      }
      &:not(.active, .read):hover {
        .dot {
          background-color: $baby-blue;
        }
        color: $baby-blue;
      }
    }
  }
  .scroll-progress {
    width: 100%;
    height: 100%;
    .progress-bar {
      background-color: #85beff;
      height: 10%;
      width: 100%;
    }
  }
}
